* {
  font-family: 'Georgia', 'Times', serif;
}

a {
  color: MidnightBlue;
  text-decoration: none;
}

img {
  border-radius: 100%;
}

.navList li {
  display: inline;
  text-align: center;
}

.center 
{
	    margin: auto;
	    width:50%;
	    border: 10px white;
		padding: 10px;
		color: white;
		}
.centerText 
{
			text-align: center;
			color: green;
		}
body {
  background-image: url("http://more-sky.com/data/out/10/IMG_413491.jpg");
  display: block;
  margin: auto;
}

img.band {
	width: 20%;
	height: 20%;
	display: block;
	margin: 0px auto;
    
}
