* {
  font-family: 'Georgia', 'Times', serif;
}

a {
  color: MidnightBlue;
  text-decoration: none;
}

img {
  border-radius: 100%;
}

.navList li {
  display: inline-block;
  text-align: center;
}

.center 
{
	    margin: auto;
	    width:50%;
	    border: 10px Antiquewhite;
		padding: 10px;
		color: AntiqueWhite;
		}
.centerText 
{
			text-align: center;
		}
body {
  background: url("https://cdn.shutterstock.com/shutterstock/videos/15986998/thumb/1.jpg") no-repeat center 
  bottom;
  background-attachment: scroll;
  display: block;
  margin: auto;
}

img.band {
	width: 20%;
	height: 20%;
	display: block;
	margin: 0px auto;
    
}
